<app-menu></app-menu>
<!-- Bottom Bar Start -->
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="addIndex">
                        <img src="assets/img/logo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search">
                    <input type="text" placeholder="Buscar">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="user">
                    <a href="wishlist.html" class="btn wishlist">
                        <i class="fa fa-heart"></i>
                        <span>(0)</span>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Cart Start -->
  <div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-page-inner">
                    <div>
                        <h3 class="">Tus Publicaciones</h3>
                        <br>
                    </div>
                    <div class="table-responsive"  >
                        <table class="table table-bordered"   >
                            <thead class="thead-dark">
                                <tr>
                                    <th>Productos</th>
                                    <th>Precio</th>
                                    <th>Descripcion</th>
                                    <th>Direccion</th>
                                    <th>Fecha</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle" *ngFor="let producto of  listaProductosporUsuario">
                                <tr>
                                    <td>
                                        <div class="img">
                                            <a href="#"><img src="assets/img/product-5.jpg" alt="Image"></a>
                                            <p>{{producto.nombre}}</p>
                                        </div>
                                    </td>
                                    <td>{{producto.precio}}</td>
                                    <td> {{producto.descripcion}}</td>
                                    <td>{{producto.direccion}}</td>
                                    <td>{{producto.fecha}}</td>
                                    <td><button><i class="fa fa-trash"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Cart End -->
   