<app-menu></app-menu>
<!-- Bottom Bar Start -->
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="addIndex">
                        <img src="assets/img/logo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search">
                    <input type="text" placeholder="Buscar">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="user">
                    <a href="wishlist.html" class="btn wishlist">
                        <i class="fa fa-heart"></i>
                        <span>(0)</span>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
  </div>
 <form #f="ngForm"  id="form" (ngSubmit)="registra()" enctype="multipart/form-data">
        
    <section class="form-register">
    
        <h4>Registro del producto</h4>
    
        <label class="control-label">Nombre del Producto</label>
        <input class="controls" type="text" name="nom_pro" id="nom_pro" placeholder="Ingrese el nombre del producto que desea vender" required="text" minlength="5" maxlength="50" [(ngModel)]="producto.nombre"/>
    
        <label class="control-label">Categoria del producto</label>
        <select class="controls" type="text" name="categoria" id="categoria" [(ngModel)]="producto.categoria!.id_categoria">
            <option value="-1">[Seleccione]</option>
            <option *ngFor="let aux of lstCategoria" value="{{aux.id_categoria}}">
                {{aux.nombre}}
            </option>
           
        </select>
    
        <label class="control-label">Marca del Producto</label>
        <input class="controls" type="text" name="marca" placeholder="Ingrese la marca del producto que desea vender" required="text" minlength="5" maxlength="25"  [(ngModel)]="producto.marca"/>
    
        <label class="control-label">Descripcion del Producto</label>
        <input class="controls" type="text" name="descripcion" placeholder="Ingrese un pequeña descripcion" required="text"  minlength="5" maxlength="50"  [(ngModel)]="producto.descripcion"/>

        <label class="control-label">Direccion</label>
        <input class="controls" type="text" name="direccion" placeholder="Ingrese la direccion " required="text"  minlength="5" maxlength="50"  [(ngModel)]="producto.direccion"/>
    
    
        <label class="control-label">Condicion del Producto</label>
        <select class="controls" type="text" name="condicion" id="condicion" required  [(ngModel)]="producto.condicion">
            <option></option>
            <option>Nuevo</option>
            <option>Usado</option>
            
            
        </select>
        
    
        <br>
    
        <label class="control-label">Fotos del Producto</label>
        
        
  
            <input type="file" name="file" multiple id="file" accept=".jpg,.png,.jpeg" required="file"  [(ngModel)]="producto.img1"/>
            <!--Previsualizacion-->
            <div id="preview" class="styleImage"></div>
            <!-- //mejores -->
    
    <br>
        
         <label class="control-label">Precio</label>
         <input class="controls" type="text" step="any" name="precio" required  [(ngModel)]="producto.precio"/>
    
         <div style="text-align: center;">
         <button class="btn">Registrar Producto</button>
   
    </div>
    
     
    </section>
    
</form>
<div *ngIf="f.submitted " class="alert alert-danger mt-3">Necesitas iniciar sesion para vender un producto</div>
    