

<app-menu></app-menu>
<!-- Bottom Bar Start -->
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="addIndex">
                        <img src="assets/img/logo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search">
                    <input type="text" placeholder="Buscar">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="user">
                    <a href="wishlist.html" class="btn wishlist">
                        <i class="fa fa-heart"></i>
                        <span>(0)</span>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
  </div><!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item"><a href="#">Productos</a></li>
            <li class="breadcrumb-item active">Verificar</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Start -->
<div class="checkout" >
    <div class="container-fluid"> 
        <div class="row">  
            <div class="checkout-inner">
                <div class="billing-address">
                    <h2>Direccion de Envio</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Avenida/Calle</label>
                            <input class="form-control" type="text" placeholder="Direccion" [(ngModel)]="compras.direccion">
                        </div>
                        <div class="col-md-4">
                            <label>Pais</label>
                            <select class="custom-select" [(ngModel)]="compras.pais">
                                <option selected>Peru</option>
                                <option>Brasil</option>
                                <option>Argentina</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Distrito</label>
                            <input class="form-control" type="text" placeholder="Distrito" [(ngModel)]="compras.distrito">
                        </div>
                        <div class="col-md-4">
                            <label>Estado o Provincia</label>
                            <input class="form-control" type="text" placeholder="Estado o Provincia" [(ngModel)]="compras.provincia">
                        </div>
                        <div class="col-md-4">
                            <label>Codigo Postal</label>
                            <input class="form-control" type="text" placeholder="Codigo Postal" [(ngModel)]="compras.codigoPostal">
                        </div>
                        <div class="col-md-4">
                            <label>Nota</label>
                            <input class="form-control" type="text"  [(ngModel)]="compras.nota">
                        </div>
                    </div>
                </div>

                 <div class="cart-page-inner">
                    <div class="table-responsive"  >
                        <table class="table table-bordered"   >
                            <thead class="thead-blue">
                                <tr>
                                    <th>Productos</th>
                                    <th>Precio</th>
                                    <th>Descripcion</th>
                                    <th>Fecha</th>
                                    
                                </tr>
                            </thead>
                            <tbody class="align-middle" >
                                <tr>
                                    <td><p>{{productodetalle.nombre}}</p> </td>
                                    <td>{{productodetalle.precio}}</td>
                                    <td>{{productodetalle.descripcion}}</td>
                                    <td>{{productodetalle.fecha}}</td>
                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-2">
                <div class="checkout-inner">
                    <div class="checkout-summary">
                        <h1>Total</h1>
                        <p class="sub-total">Sub Total<span>{{productodetalle.precio}}</span></p>
                        <h2>Total<span>{{productodetalle.precio}}</span></h2>
                    </div>

                    <div class="checkout-payment">
                        <div class="checkout-btn">
                            <button (click)="guardaCompra()">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->

