<app-menu></app-menu>

<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="addIndex">
                        <img src="assets/img/logo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search">
                    <input type="text" placeholder="Buscar">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="user">
                    <a href="wishlist.html" class="btn wishlist">
                        <i class="fa fa-heart"></i>
                        <span>(0)</span>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
  </div>

  
        <!-- <div class="menu" style="max-width: 900px;max-height: 2000px;  ">
            <img src="assets/img/product-1.jpg" alt="Product Image">
        </div>
        <div class="modal-dialog" style="max-width: 2100px;float:right; padding-right: 300px;max-height: 1000px ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualización Tus Datos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                </div>
                <div class="modal-body">

                    <form class="content" >
                        <div class="submit-form">

                            <div  class="row">
                                <div class="col-lg-8">
                                    <label for="id_act_nombre">Nombre</label>
                                    <input  type="text" placeholder="Ingrese el nombre" class="form-control" name="nombre" id="id_act_nombre" />
                                </div>
    
                                <div class="col-lg-2">
                                    <label for="id_act_estado">Estado</label>
                                    <select  id="id_act_estado" name="estado" class="form-control">
                                        <option value="-1"> [Seleccione] </option>
                                        <option value="1"> Activo </option>
                                        <option value="0"> Inactivo </option>
                                    </select>
                                </div>

                                <div class="col-lg-2">
                                    <label for="id_act_serie">Serie</label>
                                    <input   type="text" placeholder="Ingrese Serie" class="form-control" name="serie" id="id_act_serie"  maxlength="8"/>
                                </div>
                                <div class="col-lg-2">
                                    <label for="id_act_precio">Precio</label>
                                    <input  type="text" placeholder="Ingrese Precio" class="form-control" name="precio" id="id_act_precio"  maxlength="8"/>
                                </div>
                                <div class="col-lg-2">
                                    <label for="id_act_stock">Stock</label>
                                    <input  type="text" placeholder="Ingrese Stock" class="form-control" name="stock" id="id_act_stock"  maxlength="8"/>
                                </div>
                            </div>
    
    
                            <div class="row" style="margin-top: 5%">
                                <div class="col-lg-4">
                                    <label for="id_act_departamento">Marca</label>
                                    <select   id="id_act_departamento" name="departamento" class="form-control">
                                        <option value="-1"> [Seleccione] </option>
                                        <option  value="">
                                            
                                        </option> 
                                    </select>
                                </div>
    
                                <div class="col-lg-4">
                                    <label for="id_act_provincia">Pais</label>
                                    <select   id="id_act_provincia" name="provincia" class="form-control" >
                                        <option value="-1"> [Seleccione] </option>
                                        <option  value="">
                                           
                                        </option>   
                                    </select>
                                </div>
    
                            </div> 



                        </div>

                        <div class="modal-footer">
                           
                            <div class="form-group text-center">
                                <div class="col-lg-12">
                                    <button  id="id_act_actualiza" class="btn btn-success form-control">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>





                </div>

            </div>
       
   
        </div> -->
        <div class="cart-page" >
            <div class="container-fluid">
                <div class="row"  >
                    <div class="col-lg-12">
                       
                            <div style="width: 13%; float:left; " >
                                <div class="lateral">
                                    <header class="letra">Mi cuenta </header>
                                  
                                    <ul class="menuVert">
                                       <li><a href="addIndex">Inicio</a></li>
                                       <li><a href="addComprasCliente">Mis Compras</a></li>
                                       <li><a href="addVentas">Mis Ventas</a></li>
                                       <li><a href="addEstadisticas">Estadisticas</a></li>
                                       <li><a href="addProducto">Publicar</a></li>
                                    </ul>
                                  </div>
                                 
                             </div>
                             
                             <div style="width: 87%; float:right">
                                <div class="modal-dialog" style="max-width: 2100px; ;max-height: 1000px ">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Actualización Tus Datos</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                 <span aria-hidden="true">&times;</span>
                                             </button>
                                        </div>
                                        <div class="modal-body">
                        
                                            <form class="content" >
                                                <div class="submit-form">
                        
                                                    <div  class="row">
                                                        <div class="col-lg-8">
                                                            <label for="id_act_nombre">Nombre</label>
                                                            <input  type="text" placeholder="Ingrese el nombre" class="form-control" name="nombre" id="id_act_nombre" />
                                                        </div>
                            
                                                        <div class="col-lg-2">
                                                            <label for="id_act_estado">Estado</label>
                                                            <select  id="id_act_estado" name="estado" class="form-control">
                                                                <option value="-1"> [Seleccione] </option>
                                                                <option value="1"> Activo </option>
                                                                <option value="0"> Inactivo </option>
                                                            </select>
                                                        </div>
                        
                                                        <div class="col-lg-2">
                                                            <label for="id_act_serie">Serie</label>
                                                            <input   type="text" placeholder="Ingrese Serie" class="form-control" name="serie" id="id_act_serie"  maxlength="8"/>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <label for="id_act_precio">Precio</label>
                                                            <input  type="text" placeholder="Ingrese Precio" class="form-control" name="precio" id="id_act_precio"  maxlength="8"/>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <label for="id_act_stock">Stock</label>
                                                            <input  type="text" placeholder="Ingrese Stock" class="form-control" name="stock" id="id_act_stock"  maxlength="8"/>
                                                        </div>
                                                    </div>
                            
                            
                                                    <div class="row" style="margin-top: 5%">
                                                        <div class="col-lg-4">
                                                            <label for="id_act_departamento">Marca</label>
                                                            <select   id="id_act_departamento" name="departamento" class="form-control">
                                                                <option value="-1"> [Seleccione] </option>
                                                                <option  value="">
                                                                    
                                                                </option> 
                                                            </select>
                                                        </div>
                            
                                                        <div class="col-lg-4">
                                                            <label for="id_act_provincia">Pais</label>
                                                            <select   id="id_act_provincia" name="provincia" class="form-control" >
                                                                <option value="-1"> [Seleccione] </option>
                                                                <option  value="">
                                                                   
                                                                </option>   
                                                            </select>
                                                        </div>
                            
                                                    </div> 
                        
                        
                        
                                                </div>
                        
                                                <div class="modal-footer">
                                                   
                                                    <div class="form-group text-center">
                                                        <div class="col-lg-12">
                                                            <button  id="id_act_actualiza" class="btn btn-success form-control">Actualizar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                        
                        
                        
                        
                        
                                        </div>
                        
                                    </div>
                               
                           
                                </div> 
                             </div>
                           
                           
                           
                           
                      
                    </div>
                    
                </div>
            </div>
            
        </div>
        
      
        <!-- Cart End -->
           
        
        






