<app-menu></app-menu>
<!-- Bottom Bar Start -->
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="addIndex">
                        <img src="assets/img/logo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search">
                    <input type="text" placeholder="Buscar">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="user">
                    <a href="wishlist.html" class="btn wishlist">
                        <i class="fa fa-heart"></i>
                        <span>(0)</span>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
  </div>
<form [formGroup]="forms"  method="post" id="form" (submit)="saveUsuario()">
<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">    
                <div class="register-form">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombres</label>
                            <input class="form-control" formControlName="nombre" id="nombre"  type="text" placeholder="Nombres" name="nombre"  [(ngModel)]="usuario.nombre" /> 
<!------------------------------------------------------------------------>

        <div *ngIf="submitted && forms.controls.nombre.errors" class="invalid">
            <div *ngIf="forms.controls.nombre.errors.required">
                El nombre es un campo obligatorio

            </div>
            <div *ngIf="forms.controls.nombre.errors.pattern">
                El nombre es de 3 a 30 caracteres

            </div>
            

        </div>
<!------------------------------------------------------------------------>

                        </div>
                        <div class="col-md-6">
                            <label>Apellido Paterno</label>
                            <input class="form-control" formControlName="paterno" id="paterno"  type="text" placeholder="Apellido Paterno" name="paterno" minlength="5" maxlength="25" [(ngModel)]="usuario.paterno" />
                     
<!------------------------------------------------------------------------>

<div *ngIf="submitted && forms.controls.paterno.errors" class="invalid">
    <div *ngIf="forms.controls.paterno.errors.required">
        El Apellido Paterno es un campo obligatorio

    </div>
    <div *ngIf="forms.controls.paterno.errors.pattern">
        El Apellido Paterno  es de 3 a 30 caracteres

    </div>
    

</div>
<!------------------------------------------------------------------------>


                        </div>

                        <div class="col-md-6">
                            <label>Apellido Materno</label>
                            <input class="form-control" formControlName="materno" id="materno" type="text" placeholder="Apellido Materno" name="materno" minlength="5" maxlength="25"  [(ngModel)]="usuario.materno" />
<!------------------------------------------------------------------------>

<div *ngIf="submitted && forms.controls.materno.errors" class="invalid">
    <div *ngIf="forms.controls.materno.errors.required">
        El Apellido Materno  es un campo obligatorio

    </div>
    <div *ngIf="forms.controls.materno.errors.pattern">
        El Apellido Materno es de 3 a 30 caracteres

    </div>
    

</div>
<!------------------------------------------------------------------------>

                        
                        
                        </div>

                        <div class="col-md-6">
                            <label>DNI</label>
                            <input class="form-control" formControlName="dni" id="dni" name="dni" type="text" placeholder="Coloque su DNI" minlength="8" maxlength="8" [(ngModel)]="usuario.dni"  />

<!------------------------------------------------------------------------>

<div *ngIf="submitted && forms.controls.dni.errors" class="invalid">
    <div *ngIf="forms.controls.dni.errors.required">
        El Dni es un campo obligatorio

    </div>
    <div *ngIf="forms.controls.dni.errors.pattern">
        El Dni es de 8 caracteres

    </div>
    

</div>
<!------------------------------------------------------------------------>

  
                        
                        </div>

                        
                        <div class="col-md-6">
                            <label> Dirección</label>
                            <input class="form-control" formControlName="direccion" id="direccion"  name="direccion" type="text" placeholder="Coloque su direccion" minlength="5" maxlength="25"  [(ngModel)]="usuario.direccion"/>
<!------------------------------------------------------------------------>

<div *ngIf="submitted && forms.controls.direccion.errors" class="invalid">
    <div *ngIf="forms.controls.direccion.errors.required">
        La Direccion es un campo obligatorio

    </div>
    <div *ngIf="forms.controls.direccion.errors.pattern">
        La Direccion es de 3 a 30 caracteres

    </div>
    

</div>
<!------------------------------------------------------------------------>

                        
                        </div>

                       
                        <div class="col-md-6">
                            <label> Celular </label>
                            <input class="form-control" formControlName="celular" id="celular" name="celular"  placeholder="Numero de Celular" minlength="9" maxlength="9"  [(ngModel)]="usuario.celular" />
<!------------------------------------------------------------------------>

<div *ngIf="submitted && forms.controls.celular.errors" class="invalid">
    <div *ngIf="forms.controls.celular.errors.required">
        El Celular es un campo obligatorio

    </div>
    <div *ngIf="forms.controls.celular.errors.pattern">
        El Celular es solo numeros

    </div>
    

</div>
<!------------------------------------------------------------------------>

    
                        
                        </div>



                        <div class="col-md-6">
                            <label>Usuario</label>
                            <input class="form-control" formControlName="nombreusuario" id="nombreUsuario" name="nombreUsuario" type="text" placeholder="Coloque su Usuario" [(ngModel)]="usuario.nombreUsuario"  />
<!------------------------------------------------------------------------>

<div *ngIf="submitted && forms.controls.nombreusuario.errors" class="invalid">
    <div *ngIf="forms.controls.nombreusuario.errors.required">
        El Usuario es un campo obligatorio.

    </div>
    <div *ngIf="forms.controls.nombreusuario.errors.pattern">
        No debe llevar espacio en blanco.

    </div>
    

</div>
<!------------------------------------------------------------------------>

                        
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            <input class="form-control" formControlName="nombreusuarioc" id="nombreUsuarioc" name="nombreUsuarioc" type="text" placeholder="Coloque su Email" [(ngModel)]="usuario.email" /> 
                       
<!------------------------------------------------------------------------>

<div *ngIf="submitted && forms.controls.nombreusuarioc.errors" class="invalid">
    <div *ngIf="forms.controls.nombreusuarioc.errors.required">
        El Email es un campo obligatorio.

    </div>
    <div *ngIf="forms.controls.nombreusuarioc.errors.pattern">
        Solo se acepta emails.
    </div>
    

</div>
<!------------------------------------------------------------------------>

                       </div>
                        
                        <div class="col-md-6">
                            <label>Contraseña</label>
                            <input class="form-control" formControlName="password" id="password" name="password" type="password" placeholder="Contraseña" [(ngModel)]="usuario.password" />
<!------------------------------------------------------------------------>

<div *ngIf="submitted && forms.controls.password.errors" class="invalid">
    <div *ngIf="forms.controls.password.errors.required">
        El nombre es un campo obligatorio

    </div>
    

</div>
<!------------------------------------------------------------------------>

                        
                        </div>
                         <br>
                        <div class="col-md-12">
                            <div style="text-align: center;">
                            <button class="btn">Registrar</button>
                            
                            <br><a routerLink="/addVendedor2" >Registrarse como Tienda</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
</form>
<!-- Login End -->

