<app-menu></app-menu>
<!-- Bottom Bar Start -->
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="addIndex">
                        <img src="assets/img/logo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search">
                    <input type="text" placeholder="Buscar">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="user">
                    <a href="wishlist.html" class="btn wishlist">
                        <i class="fa fa-heart"></i>
                        <span>(0)</span>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Cart Start -->
  <div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-page-inner" >
                    <div>
                        <h3 class="">Tus Compras</h3>
                        <br>
                    </div>
                    <div class="table-responsive" >
                        <table class="table table-bordered"   *ngFor="let compra of  listaComprasporUsuario" >
                            <thead class="thead-dark">
                                <tr>
                                    <th style="width: 10%">Productos</th>
                                    <th style="width: 10%">Fecha</th>
                                    <th style="width: 10%">Precio</th>
                                    <th style="width: 10%">Factura</th>
                                    <th style="width: 10%">Ver</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                <tr>
                                    <td>
                                        <div class="img">
                                            <p>{{compra.nombreProducto}}</p>
                                        </div>
                                    </td>
                                    <td>{{compra.fecha}}</td>
                                    <td>{{compra.monto}}</td>
                                    <td><button routerLink="/addFactura/{{compra.idCompras}}" type="button" style="width: 90px" class="btn btn-primary btn-sm" >Ver factura</button></td>
                                    <td><button  type="button" style="width: 190px" class="btn btn-primary btn-sm" data-toggle="modal" attr.data-target="#mostrarmodal{{compra.estado}}">Ver Seguimiento</button></td>
                                </tr>
                            </tbody>
                        </table>
                       
                    </div>
                   
                    
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Cart End -->
   <!-- -->
<div class="modal fade" id="mostrarmodal0" role="dialog">
    <div class="modal-dialog modal-dialog-centered mt-2">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h4 class="modal-title">¡Aviso!</h4>
            </div>

            <div class="modal-body d-flex justify-content-center" >
                <h5 class="text-center">Su pedido esta siendo procesado<br>Estado: Enviado</h5>
            </div>

            <div class="modal-footer">
                <a href="" data-dismiss="modal" class="btn btn-danger d-block mx-auto" id="btnCerrar">Cerrar</a>
            </div>
        </div>
    </div>
</div>
<!--------->

<!-- -->
<div class="modal fade" id="mostrarmodal1" role="dialog">
    <div class="modal-dialog modal-dialog-centered mt-2">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h4 class="modal-title">¡Aviso!</h4>
            </div>

            <div class="modal-body d-flex justify-content-center"  >
                <h5 class="text-center">Su pedido esta siendo procesado<br>Estado: Pagado</h5>
            </div>

            <div class="modal-footer">
                <a href="" data-dismiss="modal" class="btn btn-danger d-block mx-auto" id="btnCerrar">Cerrar</a>
            </div>
        </div>
    </div>
</div>

